.bg{
    background-image: url("../img/header-background.jpg");
    height: 667px;
    position: relative;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu ul{
    min-height: 48px;
    width: auto;
    text-align: center;
    margin-top: 20px;
    border: none;
    outline: none;
}

.menu li{
    color: white;
    display: inline-block;
    text-align: left;
    line-height: 32px;
    text-decoration: none;
    padding: 8px 25px;
    margin-left: -5px;
}

.menu a{
    text-decoration: none;
    color: white;
    display: block;
}

.menu a:hover{
    color: #f06000;
}

.text{
    text-align: center;
    margin-top: 100px;
    font: 90px opensans-bold, sans-serif;
    letter-spacing: -2px;
    text-shadow: 0px 1px 3px rgb(0, 0, 0 / 80%);
    font-weight: 700;
    color: #ffff;
}

.text1{
    margin: 0px 153px;
    font: 20px serif;
    color: #a8a8a8 ;
    width: 70%;
    text-shadow: 0px 1px 2px rgb(0, 0, 0 / 50%);
    height: 40px;
}

.text2{
    margin: 0px 153px;
    font: 18px serif;
    color: #a8a8a8;
    width: 70%;
    text-shadow: 0px 1px 2px rgb(0, 0, 0 / 50%);
    height: 40px;
}

.text3{
    margin: 0px 153px;
    font: 18px serif;
    color: #a8a8a8;
    width: 70%;
    text-shadow: 0px 1px 2px rgb(0, 0, 0 / 50%);
}

.icon{
   margin-top: 24px;
   padding: 30px;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgb(0, 0, 0 / 80%);
   color: white;
    display: flex ;
    justify-content: center;
}   

i{
    margin: 24px;
}

.bg-2{
    background-color: #2b2b2b;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
}
.text4{
    font-size: 22px ;
    color: #fff;
    margin-bottom: 12px;

}
.text5{
    text-align: justify;
    line-height: 30px;
    color: #7a7a7a;
    
}

.text6{
    counter-reset: #7a7a7a;
    text-align: justify;
    line-height: 30px;
    color: #7a7a7a;
}

.bg-3{
    width: 100%;
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    height: 120px;
    border-radius: 100px;
    
}

.iconn{
    background: #3d4145;
    color: #2b2b2b;
    margin-top: 6px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}
.iconn:hover {
    background-color: white;
    color: black;
}
.iconn > p {
    padding-top: 12px;
padding-right: 15px;
}
.iconn > i {
margin-top: 14px;
}
.note{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}