*
{
    font-family: Arial, Helvetica, sans-serif;
}
/*css Introduce*/
#Introduce
{
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/background-3d-dong_032845717.gif);
}
#Introduce .Introduce-Title
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
#Introduce .Introduce-Content
{
    font-size: 20px;
}
/*css Member*/
#Member .container
{
    height: 100%;
    margin-top: 40px ;
    margin-bottom: 20px;
}
#Member .card
{
    margin-left: auto;
    margin-right: auto;
}
#Member .col-sm-4 
{
    margin-bottom: 10px;
    margin-top:10px;
}
#Member .col-sm-4 .card-img-top
{
    padding-bottom: 10px;
    height: 200px;
}
#Member .card .card-title
{
    font-size: 26px;
    text-align: center;
}
.button
{
    display: flex;
    align-items: center;
    justify-content: center;
}
